{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-md-5 col-lg-4">
    {% comment %} col-12 : Sur mobile (très petit écran), le formulaire prend
    toute la largeur (12/12). col-sm-8 : Sur tablette, il prend 8 unités sur 12.
    col-md-5 : Sur un ordinateur portable, il prend 5 unités sur 12. col-lg-4 :
    Sur un grand écran, il ne prend plus que 4 unités sur 12. {% endcomment %}
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="h4 text-center mb-3">Connexion</h2>

        <form method="post">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label" for="id_username"
              >Nom d’utilisateur</label
            >
            <input
              type="text"
              name="username"
              autofocus
              required
              id="id_username"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="id_password">Mot de passe</label>
            <input
              type="password"
              name="password"
              required
              id="id_password"
              class="form-control"
            />
          </div>

          <button type="submit" class="btn btn-primary w-100">
            Se connecter
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
