{% extends "base.html" %} {% load static %} {% block content %}
<h1>Mes pronostics</h1>

<table border="1" cellpadding="6">
  <thead>
    <tr>
      <th>Compétition</th>
      <th>Journée</th>
      <th>Date & heure</th>
      <th>Match</th>
      <th>BO dom</th>
      <th>Score dom</th>
      <th>Score ext</th>
      <th>BO ext</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for match in matches %}
    <tr>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="match_id" value="{{ match.id }}" />

        <td>{{ match.round.season.competition }}</td>
        <td>J{{ match.round.number }}</td>
        <td>
          {% if match.match_datetime %} {{ match.match_datetime|date:"d/m/Y H:i"
          }} {% else %} — {% endif %}
        </td>
        <td>{{ match.home_team }} – {{ match.away_team }}</td>

        <td>
          <input type="checkbox" name="bonus_home" />
        </td>

        <td>
          <input type="number" name="home_score" required style="width: 60px" />
        </td>

        <td>
          <input type="number" name="away_score" required style="width: 60px" />
        </td>

        <td>
          <input type="checkbox" name="bonus_away" />
        </td>

        <td>
          <button type="submit">💾</button>
        </td>
      </form>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
